body,html{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif !important;
	background: #f5f5f5 !important;
}
/*------------------------navbar----------------------*/
.navbar-nav {
	margin-left: 10px;
    font-weight: 300;
}

.my-nav {
	z-index: 999;
	max-width: 100%;
	background: #2F4858; 
}

#mainNav{
	font-size: 22px;
}

#mainNav .nav-link {
	color: #ffffff;
}

#mainNav .nav-link:hover {
	color: #F6AE2D;
}

#mainNav .logo {
	filter: grayscale(100%);
}

.dropdown-menu {
    background: #2F4858 !important; 
    text-align: center !important;
    font-size: 20px !important;
}

.dropdown-item {
    color: #ffffff !important;
}

.dropdown-item:hover{
    color: #F6AE2D !important;
    background-color: #2F4858 !important; 
}

.drop{
    background-color: #2F4858;
}

/*------------------------footer----------------------*/
.page-footer {
	background: #2f4858 !important;
    color: white;
    width: 100%;
}
.page-footer .row1  {
	text-align: center;
}
.footer-links {
	color: #ffffff;
}
.footer-links:hover {
	color: #F6AE2D;
	text-decoration: none;
}

.orange{
    color: #F6AE2D;
}

/*------------------------scroll button----------------------*/
.scrolltotop {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 80px;
	right: 30px;
	line-height: 40px;
	text-align: center;
	background: #dcdcdc;
	color: #F6AE2D;
	border-radius: 10px;
	display: none;
}
.scrolltotop:hover{
	color: black;
}


.col-lg-6 {
    padding-left: 0;
    padding-right: 0;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


/*-----------------Flipping cards CSS code---------------------*/

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px; 
  border-radius: 10px;
  transition: transform 2s;
  transform-style: preserve-3d;
  margin-top: 65px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0 0px 2px #F6AE2D;
  border-radius: 10px;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 300px;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  border-radius: 10px;
}

.flip-card-back {
  background-color: #f5f5f5;
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.photo{
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

h3{
  padding: 5px;
  padding-top: 40px;
  color: black;
}

.text{
  text-align: center;
  padding: 1.5px;
  font-size: 12.5px;
  color: black;
  font-weight: bold;
}


.gap1{
	margin-top: 5px;
}

.gap2{
	margin-top: 40px;
}

.no1{
	float: left;
	margin-left: 16.7%;
}

.no2{
	margin-left: 8.35%;
}

.no3{
	margin-left: 8.35%;
}
/*-------------------CSS for rest elements----------------------*/

.box{
	padding-top: 50px;
	background: #f5f5f5;
}

.row{
	background-color: #39576b;
	height: 430px;
}

.container{
	text-align: center;
}

p.title{
	font-size: 50px;
	font-weight: bold;
	color: #F6AE2D;
}

p.info{
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.first{
	margin-top: 60px;
	height: 180px !important;
	background-color: #f5f5f5 !important;
}

.second{
	height: 150px !important;
	background-color: #f5f5f5 !important;
	margin-top: 55px;
}

.third{
	margin-top: 50px;
	height: 230px !important;
	background-color: #f5f5f5 !important;
}

/*--------------------CSS code small changes for mobiles or tablets depending on the screen--------------------------*/
@media only screen and (min-width:767px) and (max-width:905px){
	#mainNav{
		font-size: 20px;
	}
	#mainNav .nav-link {
	   padding-left: 0px;
    }

    .links{
    	margin:15px;
    }

}



/*--------------------CSS code for tablets-----------------------*/
@media only screen and (min-width: 767px) and (max-width: 990px){
.flip-card {
  background-color: transparent;
  width: 150px;
  height: 250px;
  perspective: 1000px; 
  border-radius: 10px;
  transition: transform 2s;
  transform-style: preserve-3d;
  margin-top: 25px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0 0px 2px #F6AE2D;
  border-radius: 10px;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 250px;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  border-radius: 10px;
}

.flip-card-back {
  background-color: #f5f5f5;
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.photo{
  width: 70px;
  height: 70px;
  margin-top: 20px;
}

h3.mob{
  font-size: 20px ;
  padding: 5px;
  padding-top: 40px;
  color: black;
}

.text{
  text-align: center;
  padding: 3px;
  font-size: 13px;
  color: black;
  font-weight: bold;
}


.gap1{
	margin-top: 10px;
}

.gap2{
	margin-top: 40px;
}

.no1{
	float: left;
	margin-left: 14% !important;
}

/*-------------------CSS for rest elements----------------------*/

.box{
	padding-top: 50px;
	background: #f5f5f5;
}

.row{
	background-color: #39576b;
	height: 300px;
}

.container{
	text-align: center;
}

p.title{
	font-size: 30px;
	font-weight: bold;
	color: #F6AE2D;
}

p.info{
	font-size: 15px;
	font-weight: bold;
	color: black;
}

.first{
	margin-top: 35px;
	height: auto !important;
	background-color: #f5f5f5 !important;
}

.second{
	height: auto !important;
	background-color: #f5f5f5 !important;
	margin-top: 10px;
}

.third{
	margin-top: 20px;
	height: auto !important;
	background-color: #f5f5f5 !important;
}
}

@media only screen and (max-width: 767px){
	.flip-card {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px; 
  border-radius: 10px;
  transition: transform 2s;
  transform-style: preserve-3d;
  margin-top: 80px;
  margin-left: 35%;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0 0px 5px #F6AE2D;
  border-radius: 10px;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 300px;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  border-radius: 10px;
}

.flip-card-back {
  background-color: #f5f5f5;
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.photo{
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

h3{
  padding: 5px;
  padding-top: 40px;
  color: black;
}

.text{
  text-align: center;
  padding: 1.5px;
  font-size: 12.5px;
  color: black;
  font-weight: bold;
}


.gap1{
	margin-top: 5px;
}

.gap2{
	margin-top: 40px;
}

.no1{
	float: none !important;
	margin-left: 0px !important;
}

.no2{
	margin-left: 0px !important;
}

.no3{
	margin-left: 0px !important;
}

.last{
	margin-bottom: 40px;
}

/*-------------------CSS for rest elements----------------------*/

.box{
	padding-top: 50px;
	background: #f5f5f5;
	height: 100%;
}

.row{
	background-color: #39576b;
	height: auto;
	
}

.container{
	text-align: center;
}

p.title{
	font-size: 30px;
	font-weight: bold;
	color: #F6AE2D;
}

p.info{
	font-size: 15px;
	font-weight: bold;
	color: black;
}

.first{
	margin-top: 35px;
	height: auto !important;
	background-color: #f5f5f5 !important;
}

.second{
	display: none !important;
}

.third{
	display: none !important;
}
}

@media only screen and (min-width:906px) and (max-width:1200px){
    #mainNav{
        font-size: 20px !important;
    }
    #mainNav .nav-link {
       padding-left: 0px !important;
    }
    .links{
        margin:15px;
    }
}

@media only screen and (max-width:574px){
	.flip-card{
		margin-left: 32% !important;
	}
}

@media only screen and (max-width:490px){
	.flip-card{
		margin-left: 25% !important;
}
}